<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Haml Vs EEx</title>
  </head>

  <body>
    <main role="main">
      <%= render @view_module, @view_template, assigns %>
    </main>
  </body>
</html>
